.dashboard-metrics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin-bottom: 1.75rem;
}

@media (max-width: 600px) {
    .dashboard-metrics {
        gap: 0.65rem;
    }
}